.Header {
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: rgb(235, 183, 148);
}

.Header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header_logo {
    font-weight: normal;
}

